<comp-comp3></comp-comp3>

<h2>welcome</h2>
<p>1+1 = {{1+1}}</p>
<P>{{name}}</P>
<P [style.color]="'green'" [style.font-size]="'30px'" >{{name}}</P>
<P [style]="textStyle" [style.font-size.px]="'30'">{{name}}</P>


<input type="text" [class]="myClasses" (change)="txtChange()" [id]="textId"><br/>
<input type="text" [class.success]="isDisabled" class="height40" (change)="txtChange()" [id]="textId"><br/>
<input type="text" (change)="txtChange()" id="{{textId}}">//This a string id pass in id<br/>
<input type="button" value="Save" (click)="clickSave()" (mouseover)="over()" [disabled]="isDisabled"><br/>
<img [attr.src]="src" [attr.width]="width"  alt="" srcset="">

<br>
<input type="text" #mytext value="abcd">
<br>
{{mytext.value}}
<button [disabled]="!mytext.value">Save</button>

<br/>
<br/>

<div *ngIf="show">
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</div>

<div *ngIf="show && isDisabled">
    <ul>
        <li>1-One</li>
        <li>2-Two</li>
    </ul>
</div>

<div *ngIf="!show">
    <p>No record found</p>
</div>
 
<!-- Property binding so here hidden = true -->
<div [hidden]="show">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
<!-- elseblock is a template ref variable -->
<div *ngIf="show; else elseblock">
    <ul>
        <li>Record found</li>
    </ul>
</div>
<!-- so ngif is use template reference variable to display the else block when condition is false.so we use ng-template  -->
<ng-template #elseblock>
    <ul>
        <li>Record not found</li>
    </ul>
</ng-template>

<!-- second method -->
 <div *ngIf="show; then record else elseblock"></div>
 <ng-template #record>
    <ul>
        <li>second record found</li>
    </ul>
 </ng-template>
 <ng-template #elseblock>
    <ul>
        <li>No second Record Found</li>
    </ul>
 </ng-template>

<br/>
<p>{{getName()}}</p>
<p>{{getlname(1)}}</p>
<p>{{getlname(23)}}</p>

<p>{{employees[1]}}</p>
<ul>
<li>{{employee.title}}</li>
<li>{{employee.name}} </li>
<li>{{employee.salary}} </li>
</ul>

<img width="100" src="{{employee.src}}" alt="{{employee.alt}}">